* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  color: rgb(53, 51, 51);
  background-image: linear-gradient(white, rgb(209, 201, 228));
}
.pricing {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    #5f4b8bff,
    #5f4b8bff,
    #5f4b8bff,
    lightgray,
    white
  );
  width: 80%;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1),
    -10px -10px 40px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  background-color: #5f4b8bff;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  align-items: center;
  width: 100%;
  color: rgb(238, 238, 238);
}

.header > h1 {
  font-family: "Poppins", sans-serif;
}
.pricing-options {
  display: flex;
  justify-content: space-between;
  width: 24%;
}
.pricing-options > li {
  list-style: none;
  font-family: "Poppins", Courier, monospace;
  display: flex;
  align-items: center;
}

/* Checkbox styling starts*/
.plans-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.plans-switch > input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(73, 69, 82);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(73, 69, 82);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Checkbox styling ends*/

.annual-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex: 1;
}
.monthly-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex: 1;
}
.card {
  background-color: white;
  background-image: linear-gradient(rgb(207, 204, 204), white);
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 20vw;
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  align-items: center;
  flex: 0.33;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.card > h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.card > h1 {
  font-size: 4rem;
  font-weight: 900;
  flex: 0.2;
}
.card > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0.4;
}
.card > button {
  width: 75%;
  border: none;
  background-color: #5f4b8bff;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  cursor: pointer;
}

hr {
  width: 150%;
  border: 1px solid #5f4b8bff;
  margin: 7px;
  border-radius: 80px;
}
.active-card {
  background-color: #5f4b8bff;
  background-image: none;
  transform: scale(1.2);
  color: rgb(238, 238, 238);
}
.active-card > ul > hr {
  border: 1px solid rgb(238, 238, 238);
}
.active-card > button {
  background-color: white;
  color: #5f4b8bff;
}
.monthly-cards {
  display: none;
}
